<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id='app'>
    <h1>Todo List</h1>
    <todo-list category="취업 준비">

    </todo-list>
    <todo-list category="싸피">

    </todo-list>
    <todo-list category="개인">

    </todo-list>
  </div>
  <script>
    // 전역 컴포넌트 선언부
    Vue.component('todo-list', {
      template: `<div class="todo-List">
      <h2>{{ category }}</h2>
      <input type="text" @keyup.enter="addTodo" v-model="content"><button @click="addTodo">등록</button>
      <p>
        <li v-for="todo in todos" :key="todo.id">{{ todo.content }}<button style="margin-left: 4px;"
            @click="removeTodo(todo.id)">삭제</button></li>
      </p>
    </div>`,
      props: {
        category: {
          type: String,
          required: true
        }
      }, // 하위컴포넌트로 데이터 전송 + 검증
      data: function () {
        return {
          todos: [],
          content: ''
        }
      },
      methods: {
        addTodo() {
          this.todos.push({
            id: Date.now(),
            content: this.content,
            completed: false
          })
          this.content = ''
        },
        removeTodo(key) {
          this.todos = this.todos.filter(todo => {
            return todo.id !== key
          })
        }
      }
    })
  </script>
  <script>
    //루트 오브젝트
    const app = new Vue({
      el: '#app',
      // data: {
      //   todos: [],
      //   content: ''
      // },
      // methods: {
      //   addTodo() {
      //     this.todos.push({
      //       id: Date.now(),
      //       content: this.content,
      //       completed: false
      //     })
      //     this.content = ''
      //   },
      //   removeTodo(key) {
      //     this.todos = this.todos.filter(todo => {
      //       return todo.id !== key
      //     })
      //   }
      // },
    })
  </script>
</body>

</html>