<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model="url"><a :href="url"> Go!</a><br><br>

    <button v-on:click="getDogImage()">댕댕이</button>
    <button v-on:click="getCatImage()">고양이</button>
    <button v-on:click="toggle">Toggle</button>
    <h2 v-bind:style="{color: activeColor, fontSize: fontSize + 'px'}">빨강과 파랑을 섞으면 보라색이 됩니다.</h2>
    <p>{{count}}</p>
    <li v-for="num in numbers" v-if="!(num%2)">{{ num }}</li>
    <img v-for="image in imageUrl" v-bind:src="image" width="200px" height="200px">
  </div>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        url : '',
        numbers: [0,1,2,3,4,5,6,7,8,9],
        activeColor: 'red',
        fontSize: 30,
        imageUrl: [],
        count: 0
      },
      methods: {
        toggle: function() {
          if (this.activeColor === 'red') {
            this.activeColor = 'blue'
          } else {
            this.activeColor = 'red'
          }
        },
        getDogImage: function () {
          axios.get('https://dog.ceo/api/breeds/image/random')
            .then(response => {
              this.imageUrl.push(response.data.message)
              this.count++
            })
        },
        getCatImage: function () {
          axios.get('https://api.thecatapi.com/v1/images/search')
            .then(response => { // function 키워드를 쓰면 this가 window로 간다! 
              console.log(this) // arrow function을 써야 바로 위에 함수에서 호출된 값이 넘어옴
              this.imageUrl.push(response.data[0].url)
              this.count++
            })
        }
      }
    })
  </script>
</body>

</html>